@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
#nav .nav_box {
  max-width: 1200px;
  margin: auto !important;
}

#nav .nav_box .nav_row .nav_side {
  height: 250px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#nav .nav_box .nav_row .nav_side .menu_toggler {
  width: 58px;
  height: 58px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

#nav .nav_box .nav_row .nav_side .menu_toggler span {
  width: 50px;
  height: 6px;
  border-radius: 5px;
  background-color: #276678;
  margin: auto !important;
}

#nav .nav_box .nav_row .nav_side .menu_toggler:hover span:nth-child(odd) {
  width: 50%;
}

#nav .nav_box .nav_row .nav_side #logo {
  text-align: center;
  font-family: "Poppins";
}

#nav .nav_box .nav_row .nav_side #logo a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

#nav .nav_box .nav_row .nav_side #logo a:hover img {
  opacity: 0.6;
}

#nav .nav_box .nav_row .nav_side #logo a:hover div h1,
#nav .nav_box .nav_row .nav_side #logo a:hover div span {
  color: #254c57;
}

#nav .nav_box .nav_row .nav_side #logo a img {
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  max-width: 100px;
  opacity: 0.4;
}

#nav .nav_box .nav_row .nav_side #logo a div {
  position: relative;
}

#nav .nav_box .nav_row .nav_side #logo a div h1 {
  font-weight: 900;
  color: #276678;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

#nav .nav_box .nav_row .nav_side #logo a div h1 .fa_icon {
  position: relative;
  font-size: 13px;
  top: -20px;
}

#nav .nav_box .nav_row .nav_side #logo a div span {
  font-weight: 500;
  color: #276678;
  position: relative;
  top: -5px;
}

#nav .nav_box .nav_row .nav_side .search_toggler {
  background-color: #276678;
  color: white;
  width: 45px;
  height: 45px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 24px;
  border-radius: 50%;
  border: none;
  outline: none;
}

#nav .nav_box .nav_row .nav_side .search_toggler:hover {
  background-color: #254c57;
}

#nav .nav_box .nav_row .nav_side #infoLink a {
  width: 45px;
  height: 45px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 44px;
  color: #276678;
}

#nav .nav_box .nav_row .nav_side #infoLink a:hover {
  color: #254c57;
}

#nav .nav_box .nav_row .nav_side .nav_side_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu_darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.774);
  cursor: pointer;
}

.menu_main {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  top: 0;
  left: 0;
  z-index: 610;
  background-color: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 1px 0px 21px 8px rgba(98, 98, 98, 0.49);
  box-shadow: inset 1px 0px 21px 8px rgba(98, 98, 98, 0.49);
  overflow: hidden;
  white-space: nowrap;
  overflow-y: auto;
}

.menu_main .menu_main_side {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.menu_main .menu_bgs_holder {
  width: 100% !important;
  max-width: 35% !important;
  height: 100% !important;
  position: relative;
  -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.menu_main .menu_bgs_holder div {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu_main .menu_bgs_holder .menu_bg_1 {
  z-index: 100;
}

.menu_main .menu_bgs_holder .menu_bg_2 {
  z-index: 99;
}

.menu_main .menu_bgs_holder .menu_bg_3 {
  z-index: 98;
}

.menu_main .menu_links_side_outer {
  max-width: 65%;
  width: 100%;
  height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.menu_main .menu_links_side_outer .menu_closer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px !important;
  background-color: transparent;
  color: #276678;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 23px;
  border: none;
  z-index: 200;
}

.menu_main .menu_links {
  max-width: 100%;
  width: 100%;
  height: 70%;
  position: relative;
}

.menu_main .menu_links .menu_links_set {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.menu_main .menu_links .menu_links_set div {
  width: 100%;
  max-width: 85%;
  margin: auto !important;
  text-align: left;
}

.menu_main .menu_links .menu_links_set div h2 {
  font-family: "Poppins";
  font-weight: 900;
  font-size: clamp(3rem, 4vw, 4rem);
  text-transform: uppercase;
  color: #276678;
}

.menu_main .menu_links .menu_links_set div ul {
  font-family: "Poppins";
}

.menu_main .menu_links .menu_links_set div ul li {
  margin: 10px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.menu_main .menu_links .menu_links_set div ul li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #276678;
}

.menu_main .menu_links .menu_links_set div ul li a:hover {
  color: #254c57;
}

.search {
  position: fixed;
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.774);
  z-index: 620;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.search .search_cnt {
  width: 100%;
  max-width: 600px;
  margin: auto !important;
  font-family: "Poppins";
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.search .search_cnt .search_closer {
  background-color: transparent;
  text-align: center;
  margin: auto !important;
  margin-bottom: 20px !important;
  display: block;
  font-weight: 700;
  padding: 10px !important;
  font-size: 26px;
  color: white;
  border: none !important;
  outline: none !important;
}

.search .search_cnt .search_closer:hover {
  color: #b9b9b9;
}

.search .search_cnt .search_cnt_main {
  width: 100%;
}

.search .search_cnt .search_cnt_main div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: ghostwhite;
}

.search .search_cnt .search_cnt_main div input {
  width: 100%;
  border: none !important;
  outline: none !important;
  font-size: 21px;
  padding: 0 !important;
  padding-left: 10px !important;
}

.search .search_cnt .search_cnt_main div button {
  padding: 12px !important;
  font-size: 21px;
  border: none !important;
  outline: none !important;
  background-color: #276678;
  color: white;
}

.search .search_cnt .search_cnt_main div button:hover {
  background-color: #254c57;
}

.search .search_cnt .search_cnt_main ul {
  margin-top: 5px !important;
  background-color: white;
  max-height: 250px;
  min-height: 250px;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.search .search_cnt .search_cnt_main ul li a {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px !important;
  text-decoration: none;
  font-weight: 400;
  font-size: 19px;
  color: #276678;
  border-bottom: 1px solid ghostwhite;
}

.search .search_cnt .search_cnt_main ul li a:hover {
  background-color: rgba(185, 185, 185, 0.192);
}

@media all and (max-width: 1995px) {
  .search .search_cnt {
    max-width: 700px;
    position: relative;
    top: -25px;
  }
  .search .search_cnt .search_closer {
    margin-bottom: 10px !important;
  }
  .search .search_cnt .search_cnt_main ul {
    max-height: 250px;
    min-height: 250px;
  }
}

@media all and (max-width: 991px) {
  .menu_main {
    max-width: 90%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu_main .menu_bgs_holder {
    display: none;
  }
  .menu_main .menu_links_side_outer {
    max-width: 100%;
    width: 100%;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div h2 {
    font-size: 45px;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div ul li a {
    font-size: 25px;
  }
  .search .search_cnt {
    max-width: 85%;
  }
}

@media all and (max-width: 768px) {
  #nav .nav_box .nav_row .nav_side {
    max-width: 50%;
    height: 100%;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  #nav .nav_box .nav_row .nav_side .menu_toggler {
    height: 45px;
  }
  #nav .nav_box .nav_row .nav_side .menu_toggler span {
    width: 40px;
  }
  #nav .nav_box .nav_row .nav_side .search_toggler {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  #nav .nav_box .nav_row .nav_side #infoLink a {
    font-size: 40px;
  }
  #nav .nav_box .nav_row #navM {
    display: none;
  }
  .menu_main {
    max-width: 90%;
  }
  .menu_main .menu_bgs_holder {
    display: none;
  }
  .menu_main .menu_links_side_outer {
    max-width: 100%;
    width: 100%;
  }
  .menu_main .menu_links_side_outer .menu_closer {
    margin: 20px !important;
  }
  .menu_main .menu_links_side_outer .menu_links {
    padding-top: 20px !important;
    height: 80%;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div h2 {
    font-size: 32px;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div ul li a {
    font-size: 16px;
  }
  .search .search_cnt {
    max-width: 95%;
  }
}

/*! Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #nav .nav_box {
    max-width: 95%;
  }
  #nav .nav_box .nav_row .nav_side {
    height: 100%;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  #nav .nav_box .nav_row .nav_side img {
    max-width: 90px !important;
  }
  #nav .nav_box .nav_row #navL {
    max-width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #nav .nav_box .nav_row #navM {
    display: none !important;
  }
  #nav .nav_box .nav_row #navR {
    max-width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #nav .nav_box .nav_row #navR .search_toggler {
    margin-right: 20px !important;
  }
  .menu_main {
    max-width: 90%;
  }
  .menu_main .menu_bgs_holder {
    display: none;
  }
  .menu_main .menu_links_side_outer {
    max-width: 100%;
    width: 100%;
  }
  .menu_main .menu_links_side_outer .menu_closer {
    margin: 20px !important;
  }
  .menu_main .menu_links_side_outer .menu_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set {
    padding-top: 30px !important;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div h2 {
    font-size: 32px;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div ul li a {
    font-size: 16px;
  }
  .search .search_cnt {
    max-width: 95%;
    position: relative;
    top: -15px;
  }
  .search .search_cnt .search_closer {
    margin-bottom: 10px !important;
  }
  .search .search_cnt .search_cnt_main ul {
    max-height: 150px;
    min-height: 150px;
  }
}

/*! Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #nav .nav_box {
    max-width: 100%;
    width: 100%;
  }
  #nav .nav_box .nav_row .nav_side {
    height: 100%;
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
  #nav .nav_box .nav_row .nav_side img {
    max-width: 90px !important;
  }
  #nav .nav_box .nav_row #navL {
    max-width: 25%;
  }
  #nav .nav_box .nav_row #navM {
    display: -ms-grid;
    display: grid;
    max-width: 50%;
  }
  #nav .nav_box .nav_row #navR {
    max-width: 25%;
  }
  .menu_main {
    max-width: 90%;
  }
  .menu_main .menu_bgs_holder {
    display: block;
  }
  .menu_main .menu_links_side_outer {
    max-width: 100%;
    width: 100%;
  }
  .menu_main .menu_links_side_outer .menu_closer {
    margin: 20px !important;
  }
  .menu_main .menu_links_side_outer .menu_links {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 70%;
    max-width: 80%;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set {
    padding-top: 30px !important;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div h2 {
    font-size: 35px;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div ul li a {
    font-size: 18px;
  }
  .search .search_cnt {
    max-width: 600px;
    position: relative;
    top: -35px;
  }
  .search .search_cnt .search_closer {
    margin-bottom: 10px !important;
  }
  .search .search_cnt .search_cnt_main ul {
    max-height: 250px;
    min-height: 250px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #nav .nav_box {
    max-width: 80%;
    width: 100%;
  }
  #nav .nav_box .nav_row .nav_side {
    height: 100%;
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
  #nav .nav_box .nav_row .nav_side img {
    max-width: 80px !important;
  }
  #nav .nav_box .nav_row .nav_side .menu_toggler {
    height: 55px;
  }
  #nav .nav_box .nav_row .nav_side .menu_toggler span {
    width: 50px;
  }
  #nav .nav_box .nav_row #navL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 50% !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #nav .nav_box .nav_row #navM {
    display: none !important;
  }
  #nav .nav_box .nav_row #navR {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
    max-width: 50% !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
  #nav .nav_box .nav_row #navR div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #nav .nav_box .nav_row #navR .search_toggler {
    margin-right: 20px !important;
  }
  .menu_main {
    max-width: 90%;
  }
  .menu_main .menu_bgs_holder {
    display: none;
  }
  .menu_main .menu_links_side_outer {
    max-width: 100%;
    width: 100%;
  }
  .menu_main .menu_links_side_outer .menu_closer {
    margin: 20px !important;
  }
  .menu_main .menu_links_side_outer .menu_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    max-width: 80%;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set {
    padding-top: 30px !important;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div h2 {
    font-size: 32px;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div ul li a {
    font-size: 16px;
  }
  .search .search_cnt {
    max-width: 600px;
    position: relative;
    top: -25px;
  }
  .search .search_cnt .search_closer {
    margin-bottom: 10px !important;
  }
  .search .search_cnt .search_cnt_main ul {
    max-height: 150px;
    min-height: 150px;
  }
}

/*! iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #nav .nav_box {
    max-width: 80%;
    width: 100%;
  }
  #nav .nav_box .nav_row .nav_side {
    height: 100%;
    padding-top: 65px !important;
    padding-bottom: 65px !important;
  }
  #nav .nav_box .nav_row .nav_side img {
    max-width: 90px !important;
  }
  #nav .nav_box .nav_row .nav_side .menu_toggler {
    height: 55px;
  }
  #nav .nav_box .nav_row .nav_side .menu_toggler span {
    width: 50px;
  }
  #nav .nav_box .nav_row #navL {
    max-width: 25%;
  }
  #nav .nav_box .nav_row #navM {
    display: -ms-grid;
    display: grid;
    max-width: 50%;
  }
  #nav .nav_box .nav_row #navR {
    max-width: 25%;
  }
  .search .search_cnt {
    max-width: 700px;
    position: relative;
    top: -35px;
  }
  .search .search_cnt .search_closer {
    margin-bottom: 10px !important;
  }
  .search .search_cnt .search_cnt_main ul {
    max-height: 250px;
    min-height: 250px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #nav .nav_box {
    max-width: 80%;
    width: 100%;
  }
  #nav .nav_box .nav_row .nav_side {
    height: 100%;
    padding-top: 65px !important;
    padding-bottom: 65px !important;
  }
  #nav .nav_box .nav_row .nav_side img {
    max-width: 100px !important;
  }
  #nav .nav_box .nav_row .nav_side .menu_toggler {
    height: 55px;
  }
  #nav .nav_box .nav_row .nav_side .menu_toggler span {
    width: 50px;
  }
  #nav .nav_box .nav_row #navL {
    max-width: 25%;
  }
  #nav .nav_box .nav_row #navM {
    display: -ms-grid;
    display: grid;
    max-width: 50%;
  }
  #nav .nav_box .nav_row #navR {
    max-width: 25%;
  }
  .menu_main {
    max-width: 90%;
  }
  .menu_main .menu_bgs_holder {
    display: block;
  }
  .menu_main .menu_links_side_outer {
    max-width: 100%;
    width: 100%;
  }
  .menu_main .menu_links_side_outer .menu_closer {
    margin: 20px !important;
  }
  .menu_main .menu_links_side_outer .menu_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 70%;
    max-width: 90%;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set {
    padding-top: 30px !important;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div h2 {
    font-size: 35px;
  }
  .menu_main .menu_links_side_outer .menu_links .menu_links_set div ul li a {
    font-size: 18px;
  }
  .search .search_cnt {
    max-width: 700px;
    position: relative;
    top: -35px;
  }
  .search .search_cnt .search_closer {
    margin-bottom: 10px !important;
  }
  .search .search_cnt .search_cnt_main ul {
    max-height: 200px;
    min-height: 200px;
  }
}

/*! Laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .search .search_cnt {
    max-width: 700px;
    position: relative;
    top: -25px;
  }
  .search .search_cnt .search_closer {
    margin-bottom: 10px !important;
  }
  .search .search_cnt .search_cnt_main ul {
    max-height: 250px;
    min-height: 250px;
  }
}
/*# sourceMappingURL=Nav.module.css.map */